<h1>Noticias</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sequi adipisci dignissimos tempora ac
    cusamus vero omnis mollitia? Obcaecati similique quibusdam aspernatur quis ea culpa officia, cupiditate repellendus at tenetur blanditiis.</h2>

<h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi neque recusandae pers
    piciatis qui facere odit et, accusantium placeat voluptate ex inventore, atque tenetur impedit ab distinctio culpa quibusdam consequatur facilis.</h3>    